.container {
    display:flex;
    width:100%;
    min-height:100vh;
    justify-content: center;
    align-items:center;
}

.form {
    display: flex;
    flex-direction: column;
    width:60%;
}

.form input {
    margin: 5px;
    padding:10px 5px;
    border-radius: 8px;
    text-indent: 20px;
}

.form button {
    margin: 5px;
    padding:10px 5px;
    border-radius: 8px;
    text-indent: 20px;
    text-transform: uppercase;
    font-weight:700;
    background: rgba(62, 226, 231, 0.767);
    cursor: pointer;
}